<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="home">Sermeta- Outil de gestion de contact</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active">
            <a routerLink="home">Home</a>
          </li>
      <li routerLinkActive="active">
        <a routerLink="conctact/listcontact">liste des contacts</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="entreprise/listentreprise">liste des entreprises</a>
      </li>
    </ul> 
  </div>
</nav>