  <div>
        <h2 class="text-left">CONTACTS</h2>

        <div class="text-right">
            <button type="submit" class="btn btn-primary"
            (click)="changementDePage();">Ajouter un Contact</button></div><br/>

        <table class="table table-hover table-bordered">

            <thead class="thead-dark" id="table">
                <tr>
                    <th class="text-center">#</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Ville</th>
                    <th>Entreprise</th> 
                    <th>modifier</th>
                    <th>supprimer </th>
                    <th>details</th>
                
                </tr>
            </thead>
       <tr routerLinkActive="active" *ngFor = "let contact of contacts">
                  <td class="text-center align-middle">{{contact.id}}</td>
                  <td class="align-middle">{{contact.nom}}</td>
                  <td class="align-middle">{{contact.prenom}}</td>
                 <td class="align-middle">{{contact.ville}}</td>
                <td class="align-middle">{{contact.entreprise}}</td>
                <th><button class="btn btn-info" ><a [routerLink]="['/contact/conctact']" [queryParams]="{ id: contact._id }"><div class="glyphicon glyphicon-pencil"></div></a></button></th>
               <th><button class="btn btn-danger"><a a [routerLink]="['/contact/suppcontact']" [queryParams]="{ id: contact._id }"><div class="glyphicon glyphicon-trash" ></div></a></button></th> 
            <th><button class="btn btn-success"><a [routerLink]="['/contact/detailscontact']" [queryParams]="{ id: contact._id }"><div class ="glyphicon glyphicon-plus"></div></a></button></th> 
                    </tr>
        </table>
    </div>
  